body {
  background-color:  rgba(243,245,250,1);
}

.button-rounded {
  border-width: 2px;
  border-color: black;
  background-color: white;
  color: black;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  margin: 0px 5px;
  cursor: pointer;
  border-radius: 30px;
}

.header{
  font-size: 70px;
  text-align: center;
  font-weight: bold;
}

.text {
  font-size: 25px;
}

.line {
  width: auto;
  margin-left: 200px;
  margin-right: 200px;
  background-color: red;
  height: 5px;
}

/* .koe {
  padding: 0 0px !important;
  background-image: url(/asset/img/asset3.png);
} */

img {
  height: 537px;
}
