body {
  background-color:  rgba(243,245,250,1);
}

.header{
  font-size: 70px;
  text-align: center;
  font-weight: bold;
}

.text {
  font-size: 25px;
}

.line {
  width: auto;
  margin-left: 200px;
  margin-right: 200px;
  background-color: red;
  height: 5px;
}

img {
  height: 537px;
}

p {
  color: red;
  margin-bottom: 100px;
}

p text2 {
  color:black;
}