* {
    margin: 0px;
    padding: 0px;
    margin: auto;
    
}

.navbar {
    width: 95%;
}
.navbar-title {
    font-size: 10px;
    float: left;
}
a.nav-link {
    color: black !important;
}

  .navbar-brand {
      color: black;
      font-size: 13px;
      font-weight: 700;
      float: left;
      width: 100px;
      line-height: 1;
  }
  .navbar-nav{
      float: right;
      display: inherit;
      margin-right: 0px;
  }

  a.nav-link{
     margin: 0px 10px 0px 10px;
     color: black;
     font-weight: 500;
  }
  .caption {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 10px;
      font-weight: 700;
      
  }
  .section1 {
      background-image: url(asset/img/asset4.png) 80%;
      
  }
  .img5 {
      float: left;
  }
  .img6{
      float: right;
  }


  @media (max-width: 767.98px) { 
    .col-md-6 {
        width: 100% !important;
        justify-content: center;
        margin-top: 0px !important;
     
    }
    .navbar-brand {
        float: left;
        margin: 0px;
    }
    .navbar-nav {
        float: left;
    }
    .img4 {
        height: 200px;
        width: 100%;
    }
    .line1 {
        width: 90% !important;
    }
    
    .col-md-6 {
        width: 100%;
    }
    .col-md-4 {
        margin-top: 0px !important;
    }
    .img1 {
        width: 50%;
    }
    .img2 {
        width: 100%;
    }
    .ha1 {
        font-size: 34px !important;
        text-align: center;
    }
    .pa1 {
        font-size: 20px !important;
        text-align: center;
    }
    .pa2 {
        font-size: 20px !important;
        text-align: center;
    }
    .text1 {
        margin-top: 200px !important;
       
        margin-right: 20px !important;
        text-align: center;
    }
    .col-md-5 {
        margin-top: 30px !important;
    }
    .row1 {
        margin-top: 0px !important;
        flex-direction: column-reverse !important;
    }

   }